 

.one {
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 100px;
    background-color: rgb(211, 97, 4); 
    margin-left: 94%;
    margin-top: 27%;
flex-wrap: wrap-reverse;
}
 

.two {
    display: flex;
    flex-direction: column;
    
    width: 110px;
    height: 100px;
    background-color: rgb(19, 56, 219);
    margin-left: 94%;
    margin-top: 0;

}

.Three {    
    display: flex;
    flex-direction: column;
    background-color: hsl(140, 85%, 46%);           
    top: 630px;
    width: 110px;
    height: 100px;
    margin-left: 94%;
    margin-top: 0;
    flex-wrap: wrap-reverse;
}