 body{
    background-color: lightblue;
    color: darkblue;
}


.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

@media (min-width: 600px) and (max-width: 800px) {
    body {
        background-color: #87ceeb;
    }
         .column {
             flex: 100%;
         }
}

@media (min-width: 300px) and (max-width: 599px){
    body {
        background-color: #75a10e;
    }

    .column {
        flex: 100%;
    }
}